<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-smartgarden" version="1.0.0">
    <name>Smartgarden</name>
    <description>Cordova Plugin</description>
    <js-module src="www/smartgarden.js" name="smartgarden">
        <clobbers target="smartgarden" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Smartgarden">
                <param name="android-package" value="de.joergv.smartgarden.plugin.Smartgarden"/>
            </feature>
        </config-file>

        <source-file src="src/android/Smartgarden.java" target-dir="src/de/joergv/smartgarden/plugin/" />

    </platform>

    <platform name="browser">
        <js-module src="src/browser/Smartgarden.js" name="SmartgardenBrowser">
            <merges target="smartgarden" />
        </js-module>
    </platform>
</plugin>